/* fonts */
/* typography */
/* columns */
/* articles */
/* utils */
/* .hidden {
  display: none !important;
} */
.hide-mobile {
  display: none !important;
}
/* container */
body.flymenu-body {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding-top: 0px;
  position: absolute;
  /* transition: all 225ms; - makes for cookie notice issues */
}

@media print {
    /* fix for IE/Edge print issues */
    body.flymenu-body {
      position:static;
    }
}

body.flymenu-body.flymenu-toggle {
  overflow: hidden;
}
body.flymenu-body.flymenu-toggle .menu-backdrop {
  display: block;
}
body.flymenu-body.flymenu-toggle .flymenu .bottom {
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.5);
  z-index: 100;
  left: 0;
}

body.rtl.flymenu-body.flymenu-toggle .flymenu .bottom {
  right: 0;
  left: auto;
}

.flymenu.flymenu-toggle .menu-backdrop {
  display: block;
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

.flymenu .menu-backdrop {
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  transition: all 0.2s 0.1s ease;
  background: rgba(0, 0, 0, 0.75);
  z-index: 15;
  pointer-events: none;
  cursor: default;
}

.flymenu .top,
.flymenu .bottom {
  padding: 0px !important;
  border: none !important;
}

.flymenu .top {
  background: #222222;
  position: relative;
  text-align: center;
  height: 50px;
}

@media (max-width: 1024px) {
  .flymenu .top .aside-items {
    display: none;
  }
}
.flymenu .top .header__searchbar {
  margin: auto;
  display: flex !important;
  padding-top: 10px;
}

.flymenu .searchbox-inner input[type="text"],
.flymenu .searchbox-inner select {
  appearance: none;
  border-radius: 0px;
}

.flymenu .header__searchtype-wrapper:focus {
  background-image: none;
}

.flymenu .top .header__searchbar input.search-textbox {
  outline: none;
  padding: 0 75px 0 5px;
  flex: 1;
}

.rtl .flymenu .top .header__searchbar input.search-textbox {
  padding: 0 5px 0 75px;
}

.flymenu .bottom {
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: calc(300px * -1);
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;
}

.rtl .flymenu .bottom {
  left: auto;
  right: calc(300px * -1);
}

body.flymenu-body.flymenu-toggle .flymenu .bottom {
  transition: all 225ms;
}

.flymenu #logo {
  display: none;
}

.flymenu .tray {
  height: 44px;
  padding: calc(20px / 2);
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  left: 0;
  width: calc(300px - 20px);
  background: #222222;
  z-index: 20;
}

.rtl .flymenu .tray {
  left: auto;
  right: 0;
}

.flymenu .tray .logo {
  height: 44px;
}

.flymenu .tray .flymenu-trigger {
  height: 20px;
  padding: 12px;
  float: right;
}

.rtl .flymenu .tray .flymenu-trigger {
  float: left;
}

.flymenu #trayAuth {
  padding: 20px;
  box-sizing: border-box;
  left: 0;
}

.rtl .flymenu #trayAuth {
  left: auto;
  right: 0;
}

.flymenu #trayAuth label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.flymenu #trayAuth .additional-link {
  display: block;
  color: #777;
  line-height: 30px;
}

.flymenu #trayAuth .bottom-login {
  position: relative;
  padding-top: 40px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

.flymenu #trayAuth .cta-button {
  background: #cc0000;
  line-height: 44px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  text-align: center;
  color: #fff;
  border-radius: 44px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

.flymenu #trayAuth .cta-button.link {
  background: transparent;
  color: #221abb;
  cursor: pointer;
}

.flymenu #trayAuth form {
  margin-bottom: 20px;
}

.flymenu #trayAuth p {
  text-align: left;
  padding: 0;
  margin-bottom: 20px;
}

.rtl .flymenu #trayAuto p {
  text-align: right;
}

.flymenu .flymenu-nav .locale--country-dropdown {
  margin-bottom: 10px;
}

.flymenu .country-dropdown {
  position: relative;
  box-sizing: border-box;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-size: 14px;
  outline: none;
  width: 100%;
}

.flymenu .country-dropdown .country-drawer {
  top: 25px;
  min-width: 243px;
}

.flymenu .flymenu-nav .country-dropdown .country-drawer {
  position: initial;
  width: 100%;
  border-color: #ccc;
  max-height: initial;
  box-shadow: none;
}

.flymenu .flymenu-nav .country-dropdown .country-drawer a {
  padding: 2px 0 3px 0;
  display: inline-block;
  text-decoration: none;
}

.flymenu .flymenu-nav .country-dropdown > div:first-child,
.flymenu .flymenu-nav .country-dropdown > span:first-child {
  height: auto;
  line-height: 24px;
  width: 100%;
  margin-left: 25px;
}

.rtl .flymenu .flymenu-nav .country-dropdown > div:first-child,
.rtl .flymenu .flymenu-nav .country-dropdown > span:first-child {
  margin-right: 25px;
  margin-left: 24px;
}

.flymenu .flymenu-nav .country-dropdown > div:first-child:after {
  font-family: "dk" !important;
  content: "\f0d7";
  font-size: 12px;
  padding: 0 5px;
}

.flymenu-nav .country-dropdown > div:first-child,
.flymenu-nav .country-dropdown > span:first-child {
  padding: 0 !important;
  border: none;
}

.flymenu .country-dropdown .closed {
  display: none;
}

.flymenu .country-dropdown img {
  position: absolute;
  top: 6px;
  left: 0px;
  width: 26px;
}

.rtl .flymenu .country-dropdown img {
  left: auto;
  right: 0px;
}

.flymenu label.radio-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 14px !important;
  line-height: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: capitalize !important;
  display: inline-block !important;
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  font-weight: normal !important;
}

.rtl .flymenu label.radio-container {
  padding-left: 0;
  margin-right: 0;
  padding-right: 30px;
  margin-left: 15px;
}

.flymenu label.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.flymenu label.radio-container .radio {
  position: absolute;
  top: 2px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #777777;
}

.rtl .flymenu label.radio-container .radio {
  left: auto;
  right: 0;
}

.flymenu label.radio-container input:checked ~ .radio {
  border-color: #cc0000;
}

.flymenu label.radio-container .radio:after {
  content: "";
  position: absolute;
  display: none;
}

.flymenu label.radio-container input:checked ~ .radio:after {
  display: block;
}

.flymenu label.radio-container .radio:after {
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #cc0000;
}

.rtl .flymenu label.radio-container .radio:after {
  left: auto;
  right: 2px;
}

.flymenu a.currency-link {
  text-decoration: none;
  color: #221abb;
}

.flymenu .flymenu-nav {
  position: absolute;
  top: 61px;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all 225ms;
}

.rtl .flymenu .flymenu-nav {
  left: auto;
  right: 0;
}

.flymenu .flymenu-nav[data-menu-level="1"] {
  left: calc(300px * -1);
}

.rtl .flymenu .flymenu-nav[data-menu-level="1"] {
  right: calc(300px * -1);
  left: auto;
}

.flymenu .flymenu-nav[data-menu-level="2"] {
  left: calc(300px * -2);
}

.rtl .flymenu .flymenu-nav[data-menu-level="2"] {
  right: calc(300px * -2);
  left: auto;
}

.flymenu .flymenu-nav[data-menu-level="3"] {
  left: calc(300px * -3);
}

.rtl .flymenu .flymenu-nav[data-menu-level="3"] {
  right: calc(300px * -3);
  left: auto;
}

.flymenu .flymenu-nav[data-menu-level="4"] {
  left: calc(300px * -4);
}

.rtl .flymenu .flymenu-nav[data-menu-level="4"] {
  right: calc(300px * -4);
  left: auto;
}

.flymenu .flymenu-nav[data-menu-level="5"] {
  left: calc(300px * -5);
}

.rtl .flymenu .flymenu-nav[data-menu-level="5"] {
  right: calc(300px * -5);
  left: auto;
}

.flymenu .flymenu-nav[data-menu-level="6"] {
  left: calc(300px * -6);
}

.rtl .flymenu .flymenu-nav[data-menu-level="6"] {
  right: calc(300px * -6);
  left: auto;
}

.flymenu .flymenu-nav-container {
  background: #fff;
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
}

.flymenu .sections {
  margin: 0;
}

.flymenu .sections,
.flymenu ul {
  display: block;
  list-style-type: none;
  padding: 0;
}

.flymenu .section {
  line-height: 44px;
  cursor: pointer;
}

.flymenu .pin {
  display: none;
}

.flymenu .section-title {
  font-size: 16px;
  color: #222;
}

.flymenu .section > [data-level] {
  display: block;
  background-size: 7px 11px;
  border-bottom: 1px solid #dedede;
  padding: 0 20px;
}

.flymenu .section .contents {
  display: none;
  position: absolute;
  left: 300px;
  width: 300px;
  top: 0;
}

.rtl .flymenu .section .contents {
  left: auto;
  right: 300px;
}

.flymenu .section.open > .contents {
  display: block;
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 1025px) {
  .flymenu .section .section-title[data-open] + .contents {
    display: block;
  }
}

.flymenu .column {
  width: 300px;
  background: #fff;
}

.flymenu .column.image {
  display: none !important;
}

.flymenu .column ul {
  margin-bottom: 20px;
  background: white;
  z-index: 1;
}

.flymenu .item > .column {
  position: absolute;
  display: none;
  left: 300px;
  top: 0;
}

.rtl .flymenu .item > .column {
  right: 300px;
  left: auto;
}

.flymenu .item.open > .column {
  display: block;
  transform: none;
}

.flymenu .column img {
  width: calc(100% - 20px * 2);
  padding: calc(20px / 2) 20px;
}

.flymenu .item {
  font-size: 14px;
  line-height: 16px;
  padding: calc(20px / 3) 20px;
  display: block;
}

.flymenu a {
  text-decoration: none;
}

.flymenu .item a.title,
.flymenu .item > a.title {
  color: #444;
}

.flymenu .item a.title:hover,
.flymenu .item > a.title:hover {
  font-weight: bold;
}

.flymenu .item a:not(.flymenu-back) {
  display: block;
}

.flymenu .item a:not(.flymenu-back):hover {
  cursor: pointer;
}

.flymenu .item [data-level]:after {
  font-family: "dk" !important;
  content: "\f105";
  float: right;
  font-size: 16px;
  font-weight: bold;
  color: #ccc;
}

.rtl .flymenu .item [data-level]:after {
  float: left;
  content: "\f104";
}

.flymenu .item [data-level][mobile-target]:after {
  content: "";
}

.flymenu .item.strong {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 8px;
  background-image: none;
}

.flymenu .flymenu-back {
  display: block;
  padding-left: 40px;
  line-height: 44px;
  font-size: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  color: #222222;
  margin-bottom: 20px;
  position: relative;
}

.rtl .flymenu .flymenu-back {
  padding-left: auto;
  padding-right: 40px;
}

.flymenu .flymenu-back:before {
  font-family: "dk" !important;
  content: "\f104";
  color: #a30000;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: -2px;
}

.rtl .flymenu .flymenu-back:before {
  content: "\f105";
  left: auto;
  right: 20px;
}

.flymenu .meta-data {
  color: #888888;
  font-size: 12px;
  padding: 0 15px;
  margin: 20px 0 0 0;
  line-height: 30px;
  text-align: left;
}

.rtl .flymenu .meta-data {
  text-align: right;
}

.flymenu p {
  padding: 0 20px;
  margin: 4px 0;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.flymenu h2 {
  text-transform: uppercase;
  font-size: 18px;
  padding: 0 15px;
  margin: 0 0 18px 0;
  line-height: 24px;
}

.flymenu .more {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  line-height: 40px;
  margin-top: 20px;
  background-image: none;
  text-align: center;
}

.flymenu .more a.title {
  color: #211abb;
  font-weight: bold;
  text-transform: uppercase !important;
  font-size: 12px;
  margin-top: 10px;
}

.flymenu .more a.title:hover {
  color: #322b7b;
  text-decoration: underline;
}

/*
.flymenu .more a,
.flymenu .more a:visited {
    color: #221abb;
    text-decoration: none;
}
*/

.flymenu .featured {
  display: none;
}

.flymenu .featured::after {
  content: "";
  display: block;
  height: 100%;
  background: #f0eff3;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
}

/* nav-bar */
.nav-bar {
  height: 45px;
  background: #222222;
  padding: 2px 0px;
  text-align: center;
  position: relative;
  left: 0;
  transition: all 350ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.125);
}

.rtl .nav-bar {
  left: auto;
  right: 0px;
}

.nav-bar,
.nav-bar a {
  color: #fff;
  text-decoration: none;
}

.nav-bar img {
  height: 38px;
  margin-top: 4px;
  display: inline-block;
}

.nav-bar span.icon-menu-offset,
.nav-bar a span {
  position: absolute;
  font-size: 28px;
  padding: 10px 5px;
  cursor: pointer;
}

.nav-bar span.icon-menu-offset {
  left: 5px;
}

.rtl .nav-bar span.icon-menu-offset {
  transform: scale(-1, 1);
  right: 5px;
  left: auto;
}

.flymenu .icon-user {
  right: 5px;
}

.rtl .flymenu .icon-user {
  left: 5px;
  right: auto;
}

.flymenu .icon-cart {
  right: 50px;
}

.rtl .flymenu .icon-cart {
  transform: scale(-1, 1);
  left: 50px;
  right: auto;
}

.toggle--cart-total {
  right: 60px;
  top: 8px;
  font-size: 11px !important;
  background-color: #cc0000;
  height: 14px;
  min-width: 14px;
  padding: 2px !important;
  border-radius: 100%;
  border: solid 1px darkred;
}

.rtl .toggle--cart-total {
  left: 60px;
  right: auto;
}

/* ------------------------------Desktop------------ */
@media (min-width: 1024px) {
}

@media (min-width: 1025px) {
  #header .hide-mobile {
    display: inherit !important;
  }
  .hide-desktop {
    display: none !important;
  }

  .flymenu .menu-backdrop {
    top: 86px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
  }

  body.flymenu-body {
    left: inherit;
    right: inherit;
    bottom: inherit;
    top: inherit;
    position: inherit;
    transition: none;
    padding-top: 0px;
  }

  body.flymenu-body.flymenu-toggle {
    overflow: visible;
  }

  body.flymenu-body.flymenu-toggle .nav-bar,
  body.flymenu-body.flymenu-toggle .top {
    z-index: 101;
  }

  .nav-bar {
    display: none;
  }

  .flymenu #trayAuth {
    display: none;
  }

  .flymenu .container {
    flex-grow: 1;
    padding-left: 170px;
  }

  .rtl .flymenu .container {
    padding-right: 170px;
    padding-left: 0px;
  }

  .flymenu .bottom .container {
    padding-left: 160px;
  }

  .rtl .flymenu .bottom .container {
    padding-left: 0px;
    padding-right: 160px;
  }

  .flymenu .top {
    display: flex;
    height: 42px;
    background: #222222;
    color: #fff;
    z-index: 101;
    width: 100%;
  }

  .flymenu .search {
    position: relative;
    left: auto;
    right: auto;
    margin: auto;
    width: 500px;
  }

  .flymenu .aside-items {
    padding-right: 20px;
    display: flex;
    flex-direction: row-reverse;
  }

  .rtl .flymenu .aside-items {
    padding-left: 20px;
    padding-right: 0px;
  }

  .flymenu .locale,
  .flymenu .currency {
    box-sizing: border-box;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    font-size: 12px;
  }

  .flymenu .country-dropdown .country-drawer a {
    text-decoration: none;
  }

  .flymenu .country-dropdown .country-drawer a:hover {
    text-decoration: underline;
  }

  .flymenu #logo {
    position: absolute;
    width: 142px;
    z-index: 100;
    top: 4px;
    left: 10px;
    display: block;
  }

  .rtl .flymenu #logo {
    right: 10px;
    left: auto;
  }

  .flymenu .bottom {
    position: relative;
    left: inherit;
    height: 42px;
    line-height: 40px;
    width: 100%;
    overflow: visible;
    background: #cc0000;
    color: #fff;
  }

  .rtl .flymenu .bottom {
    left: auto;
    right: inherit;
  }

  body.flymenu-body.flymenu-toggle .flymenu .bottom {
    box-shadow: none;
  }

  .flymenu .tray {
    display: none;
  }

  .flymenu .flymenu-nav {
    position: relative;
    top: inherit;
    left: inherit;
    bottom: inherit;
    width: 100%;
    transition: none;
    border-bottom: 2px solid #62191f;
    background: #cc0000;
  }

  .flymenu .flymenu-nav[data-menu-level="1"],
  .rtl .flymenu .flymenu-nav[data-menu-level="1"] {
    left: inherit;
    right: inherit;
  }

  .flymenu .flymenu-nav[data-menu-level="2"],
  .rtl .flymenu .flymenu-nav[data-menu-level="2"] {
    left: inherit;
    right: inherit;
  }

  .flymenu .flymenu-nav[data-menu-level="3"],
  .rtl .flymenu .flymenu-nav[data-menu-level="3"] {
    left: inherit;
    right: inherit;
  }

  .flymenu .flymenu-nav[data-menu-level="4"],
  .rtl .flymenu .flymenu-nav[data-menu-level="4"] {
    left: inherit;
    right: inherit;
  }

  .flymenu .flymenu-nav[data-menu-level="5"],
  .rtl .flymenu .flymenu-nav[data-menu-level="5"] {
    left: inherit;
    right: inherit;
  }

  .flymenu .flymenu-nav[data-menu-level="6"],
  .rtl .flymenu .flymenu-nav[data-menu-level="6"] {
    left: inherit;
    right: inherit;
  }

  .flymenu .flymenu-nav-container {
    background: transparent;
    width: auto;
    position: relative;
    overflow: visible;
    padding-left: 200px;
  }

  .rtl .flymenu .flymenu-nav-container {
    padding-left: 0;
    padding-right: 200px;
  }

  .flymenu ul {
    display: block;
    margin: 0;
  }

  .flymenu .sections {
    display: inline-block;
  }

  .flymenu .section {
    width: inherit;
    display: inline-block;
    position: relative;
    padding: 0;
    line-height: 42px;
  }

  .flymenu .section > .contents {
    position: relative;
    width: 250px;
    padding: 0;
    z-index: 20;
  }

  .flymenu .section-title {
    line-height: 42px;
    padding: 0 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .flymenu .section > [data-level] {
    background-image: none;
    border: 0;
  }

  .flymenu .section-title {
    color: #fff;
  }

  .flymenu .section:hover,
  .flymenu .section.open {
    outline: none;
    background: #fff;
    color: #333;
    cursor: default;
  }

  .flymenu .section:hover .section-title,
  .flymenu .section.open .section-title {
    color: #333;
  }

  .flymenu .section:hover::after,
  .flymenu .section.open::after {
    content: "";
    display: block;
    border-bottom: 4px solid #fff;
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    z-index: 20;
  }
  .flymenu .section:hover .section-title .flymenu .section-title {
    font-weight: bold;
  }

  .flymenu .section.open > .contents {
    left: 0;
    top: 44px;
    position: absolute;
    background: #fff;
    min-height: 550px; /* to make them all the same height */
  }

  /* can be used to override each column content heights */

  .flymenu .section:nth-child(1):hover > .contents,
  .flymenu .section:nth-child(1).open > .contents {
  }

  .flymenu .section:nth-child(2):hover > .contents,
  .flymenu .section:nth-child(2).open > .contents {
  }

  .flymenu .section:nth-child(3):hover > .contents,
  .flymenu .section:nth-child(3).open > .contents {
    min-height: 450px;
  }

  .flymenu .section:nth-child(4):hover > .contents,
  .flymenu .section:nth-child(4).open > .contents {
    height: 450px;
    min-height: 450px;
  }

  /* to make cart and login fluid heights */
  .flymenu .section.my-account:hover > .contents,
  .flymenu .section.my-account.open > .contents,
  .flymenu .section.cart:hover > .contents,
  .flymenu .section.cart.open > .contents {
    min-height: 100%;
  }

  .rtl .flymenu .section:hover > .contents,
  .rtl .flymenu .section.open > .contents {
    right: 0;
    left: auto;
  }

  .flymenu .pin {
    display: inline-block;
    float: right;
    line-height: normal;
    position: relative;
  }

  .rtl .flymenu .pin {
    float: left;
  }

  .flymenu .pin:hover > .contents,
  .flymenu .pin.open > .contents {
    left: auto;
    right: 0;
  }

  .rtl .flymenu .pin:hover > .contents,
  .rtl .flymenu .pin.open > .contents {
    right: auto;
    left: 0;
  }

  .flymenu .my-account .section-title,
  .flymenu .cart .section-title {
    text-transform: uppercase;
    display: inline-block;
  }

  .flymenu .cart .section-title .toggle--cart-total {
    display: none;
  }

  .flymenu .my-account .more,
  .rtl .flymenu .my-account .more {
    text-align: center;
  }

  .flymenu .my-account .section-title:after,
  .flymenu .cart .section-title:after {
    font-family: "dk" !important;
    content: "\f05c";
    font-size: 18px;
    float: right;
    padding-left: 5px;
  }

  .rtl .flymenu .my-account .section-title:after,
  .rtl .flymenu .cart .section-title:after {
    float: left;
    padding-right: 5px;
    padding-left: 0px;
  }

  .flymenu .my-account:hover .section-title:after,
  .flymenu .cart:hover .section-title:after {
    content: "\f0af";
  }

  .flymenu .my-account .column {
    min-height: inherit;
  }

  .flymenu .my-account .authenticated {
    height: 42px;
    line-height: 16px;
  }

  .flymenu .my-account .authenticated .line-1,
  .flymenu .my-account .authenticated .line-one {
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
    display: block;
    margin-top: 4px;
  }

  .flymenu .my-account .authenticated .line-2,
  .flymenu .my-account .authenticated .line-two {
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
    display: inline-block;
  }

  .flymenu .cart .contents {
    padding: 20px;
    width: 250px;
  }

  .flymenu .cart hr {
    display: none;
  }

  .flymenu .cart .cart--disclaimer {
    font-size: 11px;
  }

  .flymenu .cart .subtotal {
    margin-top: 15px;
  }

  .flymenu .cart .contents .dropdown--button {
    width: calc(100% - 80px);
    font-size: 14px;
    margin: 10px 0;
  }

  .flymenu #authControls {
    /*         margin-top: 10px; */
    /* margin-bottom: 10px; */
  }

  .flymenu #authControls .dropdown--button {
    margin-top: 15px;
  }

  .flymenu #authControls:hover {
    padding: calc(20px / 3) 20px;
    border-left: none;
  }

  .rtl .flymenu #authControls:hover {
    border-right: none;
    border-left: inherit;
  }

  /*     .flymenu #authControls button {
        display: block;
        font-size: 14px;
        width: 100%;
        margin-bottom: 15px;
        line-height: 44px;
        border-radius: 44px;
        cursor: pointer;
        outline: none;
        font-weight: bold;
    } */

  /*     .flymenu #authControls button.primary {
        background: #cc0000;
        border: none;
        color: #fff;
    }

    .flymenu #authControls button.primary a {
        color:#fff;;
    }

    .flymenu #authControls button.primary:hover,
    .flymenu .cart .dropdown--button:hover {
        background: #a30000;
    } */

  .flymenu .cart .contents .dropdown--button:first-of-type,
  .flymenu .dropdown--button.secondary {
    border: 2px solid #cc0000;
    background: #fff;
    color: #cc0000;
    margin-bottom: 0;
  }

  /*     .flymenu #authControls button.secondary a {
        color: #cc0000
    } */
  .flymenu #authControls .dropdown--button:hover,
  .flymenu .cart .contents .dropdown--button:first-of-type:hover {
    background: #a30000;
    border-color: #a30000;
  }
  .flymenu #authControls .dropdown--button:hover,
  .flymenu #authControls button.secondary:hover a,
  .flymenu .cart .contents .dropdown--button:first-of-type:hover {
    color: #fff;
  }

  .flymenu .column {
    width: 250px;
    flex-shrink: 0;
    min-height: 100%;
    max-height: 100%;
    color: #333;
    background: #fff;
    transition: all 0.5s 0.24s ease;
  }

  .flymenu .column > .column {
    padding: 0;
    border-left: 1px solid #eee;
  }

  .rtl .flymenu .column > .column {
    border-left: none;
    border-right: 1px solid #eee;
  }

  .flymenu .column.aside {
    border-right: 1px solid #eee;
  }

  .rtl .flymenu .column.aside {
    border-right: none;
    border-left: solid 1px #eee;
  }

  .flymenu .column ul {
    padding-top: 20px;
  }

  .flymenu .multiple .column ul {
    margin-top: 0;
  }

  .flymenu .section.multiple:hover > .column {
    left: 0;
    height: auto;
    min-height: 100% !important;
    top: 44px;
    position: relative;
    height: 100%;
  }

  .rtl .flymenu .section.multiple:hover > .column {
    right: 0;
    left: auto;
  }

  .flymenu .column > img {
    margin-top: 20px;
  }

  .flymenu .column.image {
    display: inline-block !important;
    background-size: cover;
  }

  .flymenu .item > .column {
    left: 250px;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    border-left: 1px solid #eee;
  }

  .flymenu .item > .column .cta-button {
    margin-bottom: 15px;
  }

  .flymenu .item > .column.article {
    display: inline-block;
    height: 100%;
  }

  .rtl .flymenu .item > .column {
    left: auto;
    right: 250px;
    border-right: 1px solid #eee;
    border-left: none;
  }

  .flymenu .multiple .item > .column {
    left: 500px;
  }

  .rtl .flymenu .multiple .item > .column {
    right: 500px;
    left: auto;
  }

  .flymenu .item.open > .column {
    opacity: 1;
    visibility: visible;
    display: inline-block;
    top: 0;
    left: 250px;
    pointer-events: all;
    transition: all 0.2s ease;
  }

  .flymenu .item.open > .column.article {
    display: inline-block;
    height: 100%;
  }

  .rtl .flymenu .item.open > .column {
    right: 250px;
    left: auto;
  }

  .flymenu .multiple .item.open > .column {
    left: 500px;
  }

  .rtl .flymenu .multiple .item.open > .column {
    right: 500px;
    left: auto;
  }

  .flymenu .item.open .featured {
    opacity: 1;
  }

  .flymenu .featured::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 101%;
    left: -102%;
  }

  .rtl .flymenu .featured::before {
    right: -102%;
    left: auto;
  }

  .flymenu .featured {
    display: inline-block;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    width: 250px;
    min-height: 100%;
    height: 100%;
    transition: all 0.7s 0.2s ease;
    opacity: 1;
    z-index: -100;
    transform: translateX(100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }

  .rtl .flymenu .featured {
    transform: translateX(-100%);
  }

  .flymenu a.featured__btn {
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    transition: all 0.2s ease;
    padding: 0.3em 1.3em;
  }

  .flymenu .featured__btn:hover {
    background: #f0eff3;
    color: black;
  }

  .flymenu .featured__logo {
    margin-top: 10px;
    width: 220px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 100px;
  }

  .featured__flyout__text {
    color: #444;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    display: block;
    padding: 10px 15px;
    width:220px;
  }
    
    

  .featured__flyout__text:after {
    content: "\f105";
    color: #a30000;
    font-size: 18px;
    vertical-align: middle;
    padding: 0px 5px;
/*    float: right;*/
  }

  .rtl .featured__flyout__text:after {
    content: "\f104";
/*    float: left;*/
  }

  .flymenu .featured::after {
    display: none;
  }

  .flymenu .item:hover,
  .flymenu .item.open {
    padding-left: calc(20px - 3px);
    border-left: 3px solid #cc0000;
  }

  .rtl .flymenu .item:hover,
  .rtl .flymenu .item.open {
    padding-right: calc(20px - 3px);
    padding-left: 20px;
    border-right: 3px solid #cc0000;
    border-left: none;
  }

  .flymenu .item:hover.more {
    border-left: none;
    padding-left: 20px;
  }

  .rtl .flymenu .item:hover.more {
    border-right: none;
    padding-right: 20px;
  }

  .flymenu .item [data-level][mobile-target]:after {
    font-family: "dk" !important;
    content: "\f105";
    font-weight: bold;
    float: right;
    font-size: 16px;
    color: #ccc;
  }

  .rtl .flymenu .item [data-level][mobile-target]:after {
    content: "\f104";
    float: left;
  }

  .flymenu .item:hover > [data-level]:after,
  .flymenu .item.open > [data-level]:after {
    color: #a30000;
  }

  .flymenu .item.strong:hover {
    border-left: none;
    padding-left: 20px;
  }

  .rtl .flymenu .item.strong:hover {
    border-left: inherit;
    border-right: none;
    padding-left: 0;
    padding-right: 20px;
  }

  .flymenu .item:hover > .title,
  .flymenu .item.open > .title {
    font-weight: bold;
    cursor: default;
  }

  .flymenu .more {
    border-top: none;
    line-height: 16px;
    margin-top: 0;
    text-align: left;
  }

  .rtl .flymenu .more {
    text-align: right;
  }

  .flymenu .cta-button,
  .flymenu .dropdown--button {
    color: #fff;
    line-height: 44px;
    background: #cc0000;
    border-radius: 44px;
    display: inline-block;
    padding: 0 calc(20px * 2);
    text-shadow: none;
    text-align: center;
    font-weight: bold;
  }

  .flymenu .cta-button.full {
    width: 100%;
    padding: 0;
  }

  .flymenu .article {
    background: #f0eff3;
    width: 290px;
    color: #222222;
    text-align: center;
  }

  .flymenu .article img {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
  }

  .flymenu .article h2 {
    display: block;
    padding: 0 15px;
    margin: 0;
    font-size: 22px;
    text-transform: none;
    font-weight: bold;
    text-align: center;
  }

  .flymenu .article h3 {
    padding: 0 15px;
    margin-top: 6px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  .flymenu .article p {
    padding: 0 15px;
    text-align: center;
    color: #444;
  }

  .flymenu .article .cta-button {
    padding: 0 20px;
    max-width: 240px;
    color: #fff;
    font-size: 12px;
    box-shadow: none;
    line-height: 28px;
    margin-top: 10px;
    display: inline-block !important;
  }

  .flymenu .article .cta-button:hover {
    background-color: #a30000;
  }

  /*
    .flymenu .section.multiple:hover .contents,
    .flymenu .section.multiple.open .contents {
        display: flex;
        justify-content: space-between;
        transform: translateX(-50%);
        min-height: 390px;
        width: 500px;
    }
*/

  .flymenu .section.multiple.open .contents {
    display: flex;
    justify-content: space-between;
    transform: translateX(-100%);
  }

  .rtl .flymenu .section.multiple:hover .contents,
  .rtl .flymenu .section.multiple.open .contents {
    transform: translateX(100%);
  }

  .flymenu table {
    text-align: center;
    padding: 6px;
  }

  .flymenu table img {
    display: inherit;
  }

  .flymenu table p {
    font-size: 14px;
    line-height: 28px;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    color: #888888;
  }

  .flymenu h2,
  .flymenu .flymenu-back,
  .flymenu .meta-data {
    display: none;
  }
}

@media (max-width: 900px) {
  .flymenu .bottom {
    transition: all 225ms;
  }
}
